# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = zhihuuser.settings

# 使用scrapyd + scrapyd_client 远程部署
[deploy]
url = http://58.87.120.212:6800/addversion.json
project = zhihuuser
